# Pandas

In [4]:
import pandas as pd
import numpy as np

In [5]:
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [6]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [7]:
d = pd.date_range('20200301' , periods=10)

In [8]:
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(10,4) , index=d , columns= ['A','B','C',"D"]);

In [10]:
df

                   A         B         C         D
2020-03-01 -0.048481  1.373941 -0.061756  0.313286
2020-03-02  0.258935  1.225932  0.604611 -0.851172
2020-03-03 -0.229794 -1.315740 -1.088582 -1.006230
2020-03-04  0.759031 -0.834957  0.172446  2.907744
2020-03-05  1.991439  0.413961 -0.973123  0.451159
2020-03-06  1.479635 -0.498897 -0.631784  1.226247
2020-03-07  1.284775  0.997731 -1.624936 -0.073151
2020-03-08 -1.488539 -1.489156  0.676271 -0.194674
2020-03-09 -0.872462  0.693820  0.732632  1.344377
2020-03-10 -0.180891 -1.033047  0.004493  0.320334