# Practical No. 5

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
df= pd.read_csv('kerala.csv')
df.head(5)

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB

In [4]:
df.shape

(118, 16)

In [5]:
df.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,1959.500000,12.218644,15.633898,36.670339,110.330508,228.644915,651.617797,698.220339,430.369492,246.207627,293.207627,162.311017,40.009322,2925.405085
std,34.207699,15.473766,16.406290,30.063862,44.633452,147.548778,186.181363,228.988966,181.980463,121.901131,93.705253,83.200485,36.676330,452.169407
min,1901.000000,0.000000,0.000000,0.100000,13.100000,53.400000,196.800000,167.500000,178.600000,41.300000,68.500000,31.500000,0.100000,2068.800000
25%,1930.250000,2.175000,4.700000,18.100000,74.350000,125.050000,535.550000,533.200000,316.725000,155.425000,222.125000,93.025000,10.350000,2613.525000
50%,1959.500000,5.800000,8.350000,28.400000,110.400000,184.600000,625.600000,691.650000,386.250000,223.550000,284.300000,152.450000,31.100000,2934.300000
75%,1988.750000,18.175000,21.400000,49.825000,136.450000,264.875000,786.975000,832.425000,500.100000,334.500000,355.150000,218.325000,54.025000,3170.400000
max,2018.000000,83.500000,79.000000,217.200000,238.000000,738.800000,1098.200000,1526.500000,1398.900000,526.700000,567.900000,365.600000,202.300000,4473.000000

##corr()
The corr() function displays the correlation between different variables in our dataset:

In [6]:
df.corr()

ValueError: could not convert string to float: 'KERALA'

The closer to 1, the stronger the correlation between these variables.

A minus sign means that these 2 variables are negatively correlated, i.e. one decreases with increasing the other and vice versa.

##replace Method

In [ ]:
df['FLOODS'].replace(['YES', 'NO'], [1,0], inplace=True)
df.head(5)

in place= True means we want this replacement to be reflected in the original dataset, i.e. the change is permanent.

###Feature Selection

In this step, we choose several features that contribute most to the target output. So, instead of training the model using every column in our dataset, we select only those that have the strongest relationship with the predicted variable.

Use the SelectKBest library to run a chi-squared statistical test and select the top 3 features that are most related to floods.

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

#After, define X & Y:

In [ ]:
X= df.iloc[:,1:14]   #all features
Y= df.iloc[:,-1]   #target output (floods)

#Select the top 3 features:

In [ ]:
best_features= SelectKBest(score_func=chi2, k=3)
fit= best_features.fit(X,Y)

#Now we create data frames for the features and the score of each feature:

In [ ]:
df_scores= pd.DataFrame(fit.scores_)
df_columns= pd.DataFrame(X.columns)

#Finally, we’ll combine all the features and their corresponding scores in one data frame:

In [ ]:
features_scores= pd.concat([df_columns, df_scores], axis=1)
features_scores.columns= ['Features', 'Score']
features_scores.sort_values(by = 'Score')

Here, we notice that the top 3 features that are most related to the target output are:

'SEP' which is the rainfall index in September
'JUN' is the rainfall index in June
'JUL' is the rainfall index in July

#Build the Model

 First, split the dataset into X and Y:

In [ ]:
X= df[['SEP', 'JUN', 'JUL']] # the top 3 features
Y= df[['FLOODS']] # the target output

Second, split the dataset into train and test:

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.4,random_state=100)

create a logistic regression body:

In [ ]:
logreg= LogisticRegression()
logreg.fit(X_train,y_train)

Finally, we predict the likelihood of a flood using the logistic regression body we created:

In [ ]:
y_pred=logreg.predict(X_test)
print (X_test) #test dataset
print (y_pred) #predicted values

# Evaluate the Model’s Performance

 #Classification Report
A classification report is a performance evaluation report that is used to evaluate the performance of machine learning models by the following 5 criteria:

1.   Accuracy is a score used to evaluate the model’s performance. The higher it is, the better
2.   Recall measures the model’s ability to correctly predict the true positive values
3. Precision is the ratio of true positives to the sum of both true and false positives.
4. F-score combines precision and recall into one metric. Ideally, its value should be closest to 1, the better.
5. Support is the number of actual occurrences of each class in the dataset.

In [ ]:
from sklearn import metrics
from sklearn.metrics import classification_report
print("Accuracy",metrics.accuracy_score(y_test, y_pred))
print("Recall",metrics.recall_score(y_test, y_pred, zero_division=1))
print("Precision",metrics.precision_score(y_test, y_pred, zero_division=1))
print("CL report:",metrics.classification_report(y_test, y_pred, zero_division=1))

As you can see, the model’s performance in numbers is:

1. Accuracy: 85%
2. Recall: 88%
3. Precision: 85%
We can safely conclude that this model predicted the likelihood of a flood well